body {
  margin: 0;
  font-family: 'Bookman Old Style';
  background-color: #f8f6f1;
}
      
textarea.newnote {
    width: 300px;
    height: 300px;
    resize: none;
  }

textarea.note {
    width: 1000px;
    height: 150px;
    resize: none;
  }
